
ul.rmr-drops {
  display: flex;
  a {
    display: block;
  }
  & > li {
    display: block;
    position: relative;
    z-index: 1;

    & + li {
      margin-left: 1em;
    }

    &.rmr-open,
    &:hover {
      dd {
        display: block;
      }
    }

    dd {
      ol {
        border-radius: 3px;
      }
      min-width: 100%;
      display: none;
      position: absolute;
      width: auto;
      left: 0;
      li {
        white-space: nowrap;
        list-style-type: none;
        a {
          &:hover {
          }
        }
      }
    }
  }
}

