@import "../../node_modules/rmr-util/src/styles/_rmr-vars.scss";


ul.rmr-drops {
  box-sizing: border-box;
  display: flex;
  a {
    display: block;
  }

  li {
    line-height: 1em;
    margin: 0;
    padding: 0;
    hr {
      margin: 0;
      height: 1px;
      border: none;
      padding: 0;
    }
  }

  & > li {
    display: block;
    position: relative;
    z-index: 1;

    b.rmr-arrow {
      width: 0px;
      height: 0px;

      display: block;

      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 0 solid transparent;
      border-bottom: 7px solid red; /* set in js */

      &.rmr-bottom {
        border-bottom-width: 0;
        border-top-width: 7px;
      }
    }

    & + li {
      margin-left: 1em;
    }

    &.rmr-open {
      dd {
        display: block;
      }
      &.rmr-show {
        dd {
          opacity: 1;
        }
      }
    }

    dt {
      cursor: pointer;
    }

    dd {

      opacity: 0;
      transition: opacity $rmr-transition-duration-short;

      > div  {
        border-radius: 3px;
//        position: absolute;
//        top: 7px;
      }
      min-width: 100%;
      display: none;
      position: absolute;
      width: auto;
      left: 0;
      li {
        white-space: nowrap;
        list-style-type: none;
        a {
          &:hover {
            transition:
              background-color $rmr-transition-duration-short,
              color $rmr-transition-duration-short; 
          }
        }
      }
    }
  }
}

